*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.options{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 100%;
}

.options__link{
    border: solid 3px black;
    height: 100px;
    width: 100%;
}

